/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Patrick Hand", cursive;
  background-color: #eff8e2;
  color: #232020;
}

ul,
h1 {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Patrick Hand", cursive;
}
